.form-container {
  margin-top: 4em;
  margin-left: 35%;
  margin-bottom: 2em;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
}

.new-account-button, 
.sign-in-button {
  margin-top: 2em;
  margin-left: 7%;
}

.user-type-selection {
  margin-left: 13%; 
  cursor: pointer; 
}
