.menu-bar {
  margin-left: 650px;
}

nav {
  display: flex; 
  flex-direction: column; 
  justify-content: space-around; 
  margin-bottom: 1.5em;
}

ul {
  justify-content: space-between; 
  height: 95px; 
  width: 85px;
  padding: 10px; 
  background-color: #5B609F; 
  align-items: center; 
  border-radius: 25px; 
}

li {
  display: flex; 
  flex-direction: row; 
  margin-top: 0.3em;
  font-family:'Open Sans', sans-serif;
  font-size: 14px; 
  font-weight: 800; 
  color: #F2F3F9; 
  list-style: none; 
  cursor: pointer; 
}

.all-contacts-header {
  margin-top: 3em;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  color: #191C69;
  text-align: center;
}

.contacts-container {
  margin-top: 1em;
  margin-left: 5%;
  width: 90%;
  height: 150;
  border-radius: 20px;
  border: 2px solid #191C69;
}

.contacts {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.contact {
  display: flex;
  flex-direction: row; 
  padding: 4px; 
  background-color: #5B609F;
  color: #F2F3F9; 
  border-radius: 5px; 
  margin-bottom: 0.1em;
}

.name-container {
  font-family:'Open Sans', sans-serif;
  font-weight: 900; 
  font-size: 1.1rem; 
  margin-left: 5px;
  margin-right: 20px;
  width: 180px;
  border-right: 1px solid white;
}

.last-contacted-container {
  font-family:'Open Sans', sans-serif;
  font-weight: 900; 
  font-size: 1.1rem;
  color: #F2F3F9; 
  margin-left: 180px; 
}
