.menu-bar {
  margin-left: 620px;
}

nav {
  display: flex; 
  flex-direction: column; 
  justify-content: space-around; 
  margin-bottom: 1.5em;
}

ul {
  justify-content: space-between; 
  height: 95px; 
  width: 85px;
  padding: 10px; 
  background-color: #5B609F; 
  align-items: center; 
  border-radius: 25px; 
}

li {
  display: flex; 
  flex-direction: row; 
  margin-top: 0.3em;
  font-family:'Open Sans', sans-serif;
  font-size: 14px; 
  font-weight: 800; 
  color: #F2F3F9; 
  list-style: none; 
  cursor: pointer; 
}

.message-container {
  display: flex; 
  flex-direction: column; 
  text-align: left; 
  margin-left: 100px;
}

.message-container:hover {
  color: #191C69; 
  cursor: pointer;  
  text-decoration: underline solid #191C69; 
}

.reachout-message-intro,  
.reachout-message-content {
  color: #5B609F;
  font-family: 'Oswald', sans-serif;
  font-weight: 300; 
  font-size: 2rem;
}

.buttons-container {
  display: flex; 
  justify-content: space-between; 
}

.done-button, 
.reminder-button {
  height: 35px; 
  width: 200px; 
  background-color: #191C69; 
  margin-top: 15px; 
  border-radius: 25px; 
  cursor: pointer;
  color: #F2F3F9;
  font-family:'Open Sans', sans-serif;
  font-weight: 400; 
  font-size: 1rem;
  text-align: center;
}

.done-button {
  margin-left: 100px
  }
  
.reminder-button {
  margin-right: 250px;
}

.done-button:hover,
.reminder-button:hover {
  background-color: #ABAECF; 
  color: #5B609F; 
  cursor: pointer;
}

.occasions-label {
  margin-left: 100px;
  margin-top: 1.5em;
  font-family:'Open Sans', sans-serif;
  font-weight: 700; 
  font-size: 1.1rem;
  color: #191C69;
}

.occasions-container {
  height: 200px; 
  width: 500px; 
  margin-left: 100px;
  margin-top: 0.5em;
  font-family:'Open Sans', sans-serif;
  font-weight: 400; 
  font-size: 1rem;
  color: #F2F3F9;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.occasion {
  display: flex;
  flex-direction: row; 
  padding: 4px; 
  background-color: #5B609F;
  border-radius: 5px; 
  margin-bottom: 0.05em;
}

.date-container {
  font-family:'Open Sans', sans-serif;
  font-weight: 900; 
  font-size: 1.1rem; 
  width: 70px;
  margin-left: 5px;
  margin-right: 20px;
  width: 80px;
  border-right: 1px solid white;
}

.occasion-content {
  font-family:'Open Sans', sans-serif;
  font-weight: 900; 
  font-size: 1.1rem;
  color: #F2F3F9; 
}