.menu-bar {
  margin-left: 620px;
}

nav {
  display: flex; 
  flex-direction: column; 
}

ul {
  justify-content: space-between; 
  height: 80px; 
  width: 85px;
  padding: 10px; 
  background-color: #5B609F; 
  align-items: center; 
  border-radius: 25px; 
}

li {
  display: flex; 
  flex-direction: row; 
  font-family:'Open Sans', sans-serif;
  font-size: 14px; 
  font-weight: 800; 
  color: #F2F3F9; 
  list-style: none; 
  cursor: pointer; 
}

.new-contact-header {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  color: #191C69;
  text-align: center;
  margin-left: 50px;
}

.article {
  margin-top: 0.3em;
  width: 90%;
  height: 340px;
  border-radius: 20px;
  border: 2px solid #191C69;
  margin-left: 65px;
}

form {
  margin-right: 65px;
}

input {
  line-height: 1rem; 
  background: transparent;
  text-align: left;
  margin-left: 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: 100; 
  font-size: 1.5rem;
  color: #191C69; 
  border: none;
  border-bottom: 2px solid #191C69;
}

.name {
  height: 50px;
  width: 20px;
  margin-left: 20px;
  margin-bottom: 3em;
}

.priority {
  margin-top: 0.5em;
  margin-left: 30px;
  margin-bottom: 0.3;
  height: 150;
  width: 200px;
}

.priority-selection {
  height: 30px;
  width: 200px
}

.frequency {
  display: flex;
  margin-left: 20px;
}

.frequency-input {
  margin-top: 0.2em;
  height: 40px;
  width: 50px;
  text-align: center;
}

p {
  margin-left: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: #191C69;
}

::placeholder {
  color: #191C69; 
  font-size: 1.2rem;
  margin-left: 10px;
}

label {
  margin-top: 0.5em;
  margin-left: 30px;
  margin-bottom: 2em;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: #191C69;
}

/* .notes {
  width: 535px;
  height: 100px;
  margin-left: 10%;
  border-radius: 20px;
  background-color: #ABAECF;
} */
.note-field {
  width: 535px;
  height: 100px;
  margin-left: 10%;
  border-radius: 20px;
  background-color: #ABAECF;
}

.note-field::placeholder {
  color: #191C69; 
  font-size: 1rem;
  margin-left: 10px;
}

.save-contact {
  text-align: center;
  margin-top: 1em;
  margin-left: 65px;
}

button {
  width: 10em;
  height: 2.2em;
  border-radius: 40px;
  background-color: #5B609F;
  color: #FFFFFF;
  font-size: 1em;
}

button:hover {
  background-color: #191C69;
}