.new-contact-header {
  margin-top: 3em;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  color: black;
  text-align: center;
}

.article {
  margin-top: 1em;
  margin-left: 5%;
  width: 90%;
  height: 800;
  border-radius: 20px;
  border: 2px solid #191C69;
}

.name {
  height: 200;
  width: 20px;
  margin-top: 1em;
  margin-left: 20px;
  margin-bottom: 1em;
}

.priority {
  height: 200;
  width: 20px;
  margin-top: 1em;
  margin-left: 20px;
  margin-bottom: 1em;
}

.frequency {
  height: 150;
  width: 5;
  margin-top: 1em;
  margin-left: 20px;
  margin-bottom: 1em;
}

input {
  border-bottom: 1px solid #191C69;
  text-align: left;
  margin-left: 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: 200; 
  font-size: 1.5rem;
  color: black; 
}

::placeholder {
  color: #A3A5B4; 
  font-size: 1.5rem;
  margin-left: 10px;
}

label {
  margin-top: 1em;
  margin-left: 2em;
  margin-bottom: 1em;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: black;
}

.notes {
  width: 500px;
  height: 100px;
  margin-left: 10%;
  margin-bottom: 2em;
  border-radius: 20px;
  background-color: #ABAECF;
}

.save-contact {
  text-align: center;
  margin-top: 1em;
}

button {
  width: 10em;
  height: 2.2em;
  border-radius: 40px;
  background-color: #5B609F;
  color: #FFFFFF;
  font-size: 1em;
}

button:hover {
  background-color: #191C69;
}
