.new-contact-header {
  margin-top: 3em;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  color: #191C69;
  text-align: center;
}

.article {
  margin-top: 1em;
  margin-left: 5%;
  width: 90%;
  height: 800;
  border-radius: 20px;
  border: 2px solid #191C69;
}

input {
  line-height: 1rem; 
  background: transparent;
  text-align: left;
  margin-left: 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: 100; 
  font-size: 1.5rem;
  color: #191C69; 
  border: none;
  border-bottom: 2px solid #191C69;
}

.name {
  height: 200;
  width: 20px;
  margin-top: 1em;
  margin-left: 20px;
  margin-bottom: 1em;
}

.priority {
  margin-top: 1em;
  margin-left: 30px;
  margin-bottom: 1em;
  height: 200;
  width: 200px;
}

.priority-selection {
  height: 200;
  width: 200px;
  
}

.frequency {
  display: flex;
  margin-top: 1em;
  margin-left: 20px;
  margin-bottom: 1em;
}

.frequency-input {
  margin-top: 0.2em;
  height: 40px;
  width: 30px;
  text-align: center;
}

p {
  margin-left: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: #191C69;
}

::placeholder {
  color: #191C69; 
  font-size: 1.2rem;
  margin-left: 10px;
}

label {
  margin-top: 1em;
  margin-left: 30px;
  margin-bottom: 1em;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: #191C69;
}

.notes {
  width: 500px;
  height: 100px;
  margin-left: 10%;
  margin-bottom: 2em;
  border-radius: 20px;
  background-color: #ABAECF;
}

.save-contact {
  text-align: center;
  margin-top: 1em;
}

button {
  width: 10em;
  height: 2.2em;
  border-radius: 40px;
  background-color: #5B609F;
  color: #FFFFFF;
  font-size: 1em;
}

button:hover {
  background-color: #191C69;
}